@page "/"
@layout UserLayout
<h3>Home</h3>
<div class="row justify-content-center" style="font-size:xx-large;">
    <a href="products" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#783066;">
        Products
    </a>

    <a href="orders" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#17546f;">
        Orders
    </a>

    <a href="address" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#6f1717;">
       Addresses
    </a>

    <a href="payments" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#228142;">
        Payments
    </a>

</div>
