@page "/"
@page "/home"
<h3>Home</h3>
<div class="row justify-content-center" style="font-size:xx-large;">
    <a href="categories" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#783066;">
        Categories
    </a>

    <a href="products" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#17546f;">
        Products
    </a>

    <a href="addProduct" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#228142;">
        Add product
    </a>
    <a href="users" class="card m-2 link-light" style="width:30vw; height:30vh; background-color:#28647f;">
        Manage Users
    </a>


</div>