@page "/profile"
@layout AdminLayout
<h3>Profile</h3>

@if (profileDTO == null)
{
    <p>Loading...</p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Profile Information</h5>
            <dl class="row">
                <dt class="col-sm-3">Full Name:</dt>
                <dd class="col-sm-9">@profileDTO.FullName</dd>

                <dt class="col-sm-3">Email:</dt>
                <dd class="col-sm-9">@profileDTO.Email</dd>

                <dt class="col-sm-3">Phone:</dt>
                <dd class="col-sm-9">@profileDTO.Phone</dd>

                <dt class="col-sm-3">Role:</dt>
                <dd class="col-sm-9">Admin</dd>
            </dl>
            <button class="btn btn-danger" @onclick="Logout">Logout</button>
        </div>
    </div>
}