@page "/forget_password"
@layout NoSidebarLayout

<div class="shadow-sm py-4 border border-1">
    <h4 class="text-center">Forget password page</h4>

    <EditForm Model="Email">
        <div class="m-2">
            <label for="email"> Email: </label>
            <InputText class="form-control" id="email" @bind-Value="this.Email"></InputText>
        </div>
        <div class="m-2 text-center">
            <button class="btn btn-primary" @onclick="SendMail">Send mail</button>
        </div>
    </EditForm>

</div>


@code{
    public string Email { get; set; }
    protected override void OnInitialized()
    {
        this.Email = "";
    }
    public void SendMail()
    {
        this.Email += "sdsd";
        Console.WriteLine(this.Email);
    }
}